body {
    font-family: 'Assistant', sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    text-align: right;
    direction: rtl;
    margin: 0 auto;
    width: 1280px;
}

.nav-header {
    background-color: #8A9C80;
    padding: 10px 0;
}

#top_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

    #top_nav ul li {
        position: relative;
    }

        #top_nav ul li a {
            font-family: 'Assistant', sans-serif; 
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s ease;
        }

        #top_nav ul li:hover a {
            background-color: rgba(255, 255, 255, 0.2); 
        }

        /* יישור התפריט הנפתח למרכז הכפתור */
        #top_nav ul li ul.dropdown {
            display: none;
            position: absolute;
            top: 40px; 
            left: 50%; 
            transform: translateX(-50%); 
            background-color: #8A9C80;
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
        }

        #top_nav ul li:hover ul.dropdown {
            display: block;
        }

        #top_nav ul li ul.dropdown li {
            width: 150px;
        }

            #top_nav ul li ul.dropdown li a.disabled {
                color: gray; 
                cursor: not-allowed; 
            }

                #top_nav ul li ul.dropdown li a.disabled:hover {
                    background-color: transparent; 
                }

            #top_nav ul li ul.dropdown li a {
                font-family: 'Assistant', sans-serif; 
                padding: 10px;
                white-space: nowrap;
            }

                #top_nav ul li ul.dropdown li a:hover {
                    background-color: rgba(255, 255, 255, 0.3); 
                }

/* עיצוב עבור הפוטר */
footer {
    background-color: #8A9C80; 
    padding: 10px 0; 
    bottom: 0;
    width: 100%; 
    z-index: 1000; 
}

#ul_footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

    #ul_footer li {
        position: relative;
    }

        #ul_footer li a {
            font-family: 'Assistant', sans-serif; 
            color: white; 
            padding: 10px 20px;
            text-decoration: none; 
            display: block; 
            transition: background-color 0.3s ease; 
        }

        #ul_footer li:hover a {
            background-color: rgba(255, 255, 255, 0.2); 
        }

footer p {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

/* עיצוב עבור כותרת הטקסט הראשית */
.text-header {
    background-color: none; 
}

/* עיצוב עבור תפריט פירורי לחם */
nav.breadcrumb {
    margin: 20px 0;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

    nav.breadcrumb ol {
        list-style: none;
        padding: 0;
        display: flex;
        direction: rtl;
    }

        nav.breadcrumb ol li {
            display: inline-block;
        }

            nav.breadcrumb ol li + li:before {
                content: ">";
                padding: 0 10px;
                color: #C5A690;
            }

            nav.breadcrumb ol li a {
                text-decoration: none;
                color: #8A9C80;
                font-weight: bold;
            }

                nav.breadcrumb ol li a:hover {
                    text-decoration: underline;
                }


span {
    color: white;
    padding: 10px 20px;
    background-color: #8A9C80;
    cursor: pointer;
    display: block;
    font-family: 'Assistant', sans-serif;
    transition: background-color 0.3s ease;
}

    span:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }




section {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

/* עיצוב כותרות */



h1 {
    color: #8A9C80;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #C5A690;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #8A9C80;
}

p {
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    margin: 20px 0;
    line-height: 1.5;
}

section li {
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    line-height: 2;
}


/* עיצוב מקטעי צמחים */
.plant-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 40px auto; 
    max-width: 1200px;
}

.plant-block {
    display: flex;
    flex-direction: row-reverse; 
    background-color: #DEEAD5;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    width: calc(50% - 20px); 
    max-width: 600px; 
    box-sizing: border-box;
    margin-bottom: 20px; 
}

    .plant-block img {
        width: 32%; 
        height: auto;
        object-fit: cover;
        margin-left: 15px;
        border-radius: 10px;
        transition: transform 0.5s ease; 
    }

        .plant-block img:hover,
        .image-row img:hover {
            transform: scale(1.05); 
        }

.plant-info {
    width: 400px; 
    height: 230px;
    background-color: #FAF0E4;
    padding: 15px;
    border-radius: 10px;
    text-align: left; 
}



.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 20px 0;
}

    .image-row img {
        width: 100%;
        max-width: 300px; 
        height: auto;
        object-fit: cover; 
        transition: transform 0.5s ease;
        border-radius: 10px;
    }

.large-image {
    width: 100%;
    height: auto;
    max-width: 500px; 
}

/* עיצוב מידע על הצמחים */
.plant-info {
    background-color: #FAF0E4;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

section {
    margin: 0px 100px;
}

article header {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header {
    margin: 0px 0px 50px 0px;
}

    header section {
        margin: 0px 50px;
    }

        header section p {
            color: #A4B799;
            font-weight: bold;
            text-align: center;
            font-size: 1.2rem;
            margin: 0;
            font-family: Assistant, sans-serif;
        }
